{% extends 'core/navigation.html' %}

{% block content %}

<div class="row align-items-center">
  <div class="col-auto li-wrapper">
    <h2>Programs search results: {{ showtimes.count }}</h2>
    <br>
    <table>
      <thead>
        <tr>
          <th style="width:10%">ID</th>
          <th>Program local title</th>
          <th style="width:15%">Country</th>
          <th>Start time</th>
        </tr>
      </thead>
	  <br>
      <tbody>
        {% for showtime in showtimes %}
        <tr>
          <td style="width:10%;"><a href="/tv/programs/showtime/{{ showtime.pk }}/">{{ showtime.id }}</a></td>
          <td style="word-wrap: break-word;">{{ showtime.program.local_title }}</td>
          <td style="width:15%">{{ showtime.program.channel.country_code }}</td>
          <td>{{ showtime.start_time }}</td>
        </tr>

        {% empty %}
        <h4>No showtimes found.</h4>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>
{% endblock %}

